<?xml version="1.0"?>
<config>
    <modules>
        <Igex_StoreLocator>
            <version>1.1.2</version>
            <platform>ce</platform>
        </Igex_StoreLocator>
    </modules>
    <global>
        <blocks>
            <igex_storelocator>
                <class>Igex_StoreLocator_Block</class>
            </igex_storelocator>
        </blocks>
        <helpers>
            <igex_storelocator>
                <class>Igex_StoreLocator_Helper</class>
            </igex_storelocator>
        </helpers>
        <models>
            <igex_storelocator>
                <class>Igex_StoreLocator_Model</class>
                <resourceModel>igex_storelocator_resource</resourceModel>
            </igex_storelocator>

            <igex_storelocator_resource>
                <class>Igex_StoreLocator_Model_Resource</class>
                <entities>
                    <store>
                        <table>igex_storelocator</table>
                    </store>
                    <stores>
                        <table>igex_storelocator_stores</table>
                    </stores>
                </entities>
            </igex_storelocator_resource>
        </models>
        <resources>
            <igex_storelocator_setup>
                <setup>
                    <module>Igex_StoreLocator</module>
                   <!-- <class>Mage_Customer_Model_Entity_Setup</class>-->
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </igex_storelocator_setup>
            <igex_storelocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </igex_storelocator_write>
            <igex_storelocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </igex_storelocator_read>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <igex_storelocator>
                    <files>
                        <default>Igex/Igex_StoreLocator.csv</default>
                    </files>
                </igex_storelocator>
            </modules>
        </translate>
        <routers>
            <igex_storelocator>
                <use>standard</use>
                <args>
                    <module>Igex_StoreLocator</module>
                    <frontName>storelocator</frontName>
                </args>
            </igex_storelocator>
        </routers>
        <layout>
            <updates>
                <storelocator>
                    <file>igex/storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <igex_storelocator>
                <use>admin</use>
                <args>
                    <module>Igex_StoreLocator</module>
                    <frontName>igex_storelocator</frontName>
                </args>
            </igex_storelocator>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Igex_StoreLocator>
                    <files>
                        <default>Igex/Igex_StoreLocator.csv</default>
                    </files>
                </Igex_StoreLocator>
            </modules>
        </translate>
        <layout>
            <updates>
                <storelocator>
                    <file>igex/storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
    </adminhtml>
  <default>
     <igex>
	<storelocator_options>
		   <apiurl>http://maps.googleapis.com/maps/api/geocode/json</apiurl>
	</storelocator_options>
	<search_options>
		<search_radius>25,50,100</search_radius>
		<default_search_radius>25</default_search_radius>
		<distance_units>0</distance_units>
	</search_options>
	<display_options>
		<show_top_link>1</show_top_link>
		<page_type>0</page_type>
		<show_email_and_website>1</show_email_and_website>
		<show_phone>1</show_phone>
	</display_options>
     </igex>
  </default>
</config>
